.product-breadcrumbs {
    .breadcrumbs {
        background: stencilColor("product-view-background");
        margin: 0 auto;
        max-width: layout("max") + ($container-padding * 4);
        padding: spacing("single") $container-padding;
        position: relative;
        text-align: left;
        width: layout("fixed");

        @include breakpoint("large") {
            padding: spacing("single") ($container-padding * 4);
        }
    }
}

.breadcrumbs {
    display: block;
    text-align: left;
}

.breadcrumb {
    display: inline;

    .breadcrumb-label {
        color: stencilColor("color-textLink");
        text-decoration: underline;
    }

    &:last-of-type {
        .breadcrumb-label {
            color: stencilColor("color-textBase");
            text-decoration: none;
        }
    }
}
