.videoGallery {
    margin-bottom: 0;
    
    @include breakpoint("medium") {
        margin-bottom: spacing("single");
    }

    .tabs {
        margin-bottom: spacing("single");
    }

    .toggle-content {
        @include breakpoint("medium") {
            display: flex;
            flex-flow: row;
        }
    }

    .videoGallery-main {
        height: auto;
        @include breakpoint("medium") {
            padding: 0;
            width: 50%;
        }

        &::before {
            @include breakpoint("medium") {
                content: "";
                display: block;
                padding-bottom: 67.5%;
            }
        }

        &.videoGallery-main--center {
            @include breakpoint("medium") {
                margin: 0 auto;
            }
        }
    }

    .videoGallery-list {
        @include breakpoint("medium") {
            margin: 0;
            width: 50%;
        }
    }

    .videoGallery-item {
        @include breakpoint("medium") {
            padding: 0 spacing("half")*1.3;
            width: 100%;
        }
    }

    .video {
        color: stencilColor("color-textBase");
        display: flex;
        margin-bottom: spacing("half")*1.3;
    }

    .video-figure {
        margin-right: spacing("half")*1.3;
        min-width: remCalc(100px);
    }

    .video-title {
        font-size: $fontSize-base;
    }
}
